.snowflake {
    color: #fff;
    font-size: 2em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}
@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
.cart{
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    z-index: 1000;
}
.menu{
    z-index: 1000;
    width: 200px;
    height: 200px;
    position: fixed;
    color: black;
    display: flex;
    flex-flow: column;
}
.menu-title{
    padding: 10px;
    font-size: 50px;
}
.menu-item{	
    padding: 10px 0px 10px 10px;
}
.menu-item>a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.menu-item>a:hover{
    text-decoration: none;
    border-bottom: 5px white 0.5s;
    font-size: 35px;
    transition: all ease-in-out 0.2s;
}
.menu-item_product{
    padding: 10px 0px 10px 10px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.menu-item_product>.submenu-title_product:hover{
    text-decoration: none;
    border-bottom: 5px white 0.5s;
    font-size: 35px;
    transition: all ease-in-out 0.2s;
}
.submenu-item_product>a{	
    display: none;
    padding: 10px 0px 10px 40px;
    color: black;
    text-decoration: none;
}
.submenu-item_product>a:hover{
    text-decoration: none;
    border-bottom: 5px white 0.5s;
    font-size: 35px;
    transition: all ease-in-out 0.2s;
}
.menu-item_product:hover > .submenu-item_product>a{
    display: block;
}
.main
{
    width: 100%;
}
.menu-letf
{
    width: 20%;
    position: fixed;
}
.content-right-title
{
    padding: 70px;
    text-align: center;
    font-size: 35px;
}
.content-right
{
    margin-left: 20%;
    width: 80%;
    
}
div.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
div.product div{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: 'tahoma';
}
div.product div img{
    max-width: 100%;
    height: auto;
}
div.product div .product-item-top
{
    position: relative;
    overflow: hidden;
}

div.product div .product-item-top .product-thumb
{
    display: block;
}
div.product div:hover .product-item-top .product-thumb
{
    filter: opacity(80%);
}
div.product div .product-item-top .product-thumb img{
    display: block;
}
div.product div .product-item-top a.buy-now
{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: white;
    padding: 10px 0px;
    position: absolute;
    bottom: -39px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
div.product div:hover a.buy-now
{
    bottom: 0px;
}
div.product div .product-info
{
    padding: 10px 0px;
}
div.product div .product-info a
{
    display: block;
    text-decoration: none;
}
div.product div .product-info a.product-cat
{
    font-size: 14px;
    text-transform: uppercase;
    color: rosybrown;
    padding: 3px 0px;
}
div.product div .product-info a.product-name
{
    color: #334862;
    padding: 3px 0px;
}
div.product div .product-info .product-price
{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}
.footer{
    background-color: black;
    height: 330px;
    color:white;
    display: flex;
    flex-flow: row;
    font-family: 'tahoma';
}
.footer-left{
    padding-top: 50px;
    width: 50%;
}
.footer-right{
    padding-top: 50px;
    width: 50%;
    padding-right: 250px;
}
.footer-left1{
    padding-left: 350px;
    padding-top: 15px;
}
.footer-right2
{
    padding-top: 10px;
    color: rgb(208, 191, 191);
    text-align: right;
    padding-right: 50px;
}

.footer-right__icon
{
    display: flex;
    flex-flow: row;
    padding-top: 5px;
    justify-content: flex-end;
    padding-right: 35px;
}
.footer-right__icon__img
{
    margin: 15px;
}
.img{
    width: 30px;
    height: 30px;
}
.backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    padding: 15px;
    border-radius: 18px;
    font-size: 18px;
    z-index: 1000;
    cursor: pointer;
}
.backtotop:hover {
    background-color: blueviolet;
}
html {
    scroll-behavior: smooth;
}
.input {
    background-image: url('../images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}
.pagination {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: gray;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

